<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Rate</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/style/rate.css" rel="stylesheet" type="text/css">


</head>

<body>
    <div class="head">
        <div class="head-main">
            <div class="logo">
                <div class="icon"><a href="{% url 'gamehub:index' %}"><img src="/static/images/game-icon.png"></a></div>
                <div>GameHub</div>
            </div>
        </div>
    </div>
    <div class="main">
        <form id="rate" method="post" action="{% url 'gamehub:rate' game.slug %}">
            {% csrf_token %}
            <div class="main-left">

                <button class="main-left-itema">Sign as <strong>{{ user.username }}</strong></button>

                <div>
                    {% if user.is_authenticated %}
                    <button class="main-left-itemb"><a href="{% url 'gamehub:logout' %}"><span>Log
                                Out</span></a></button>
                    {% else %}
                    Hi vistor!
                    <button class="main-left-itemb"><a href="{% url 'gamehub:register' %}"><span>Sign
                                Up</span></a></button>
                    <button class="main-left-itemb"><a href="{% url 'gamehub:login' %}"><span>Log In</span></a></button>
                    {% endif %}
                </div>
                <div>
                    <p class="main-left-itemd">You are leaving a review for: <strong>{{game.name}}</strong></p>
                </div>
                <div>
                    <p class="main-left-itemd">Rate the game out of 5 stars for each category</p>
                </div>
                <div class="comment">
                    <div class="game_to_rate">
                        <div class="game-rate-left">
                            <div>
                                <p class="game-name">Music</p>
                            </div>
                        </div>
                        <div class="game-rate-minddle">
                            <div>
                                <p class="stars"><img src="/static/images/stars.png"></p>
                            </div>
                        </div>
                        <div class="game-rate-right">
                            <div>
                                <p class="rate-number">

                                    {{ form.music_rate }}
                                    {{ form.music_rate.errors }}
                                </p>
                            </div>

                        </div>
                    </div>
                    <div class="game_to_rate">
                        <div class="game-rate-left">
                            <div>
                                <p class="game-name">Community</p>
                            </div>
                        </div>
                        <div class="game-rate-minddle">
                            <div>
                                <p class="stars"><img src="/static/images/stars.png"></p>
                            </div>
                        </div>
                        <div class="game-rate-right">
                            <div>
                                <p class="rate-number">
                                    {{ form.community_rate }}
                                    {{ form.community_rate.errors }}

                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="game_to_rate">
                        <div class="game-rate-left">
                            <div>
                                <p class="game-name">Quality</p>
                            </div>
                        </div>
                        <div class="game-rate-minddle">
                            <div>
                                <p class="stars"><img src="/static/images/stars.png"></p>
                            </div>
                        </div>
                        <div class="game-rate-right">
                            <div>
                                <p class="rate-number">
                                    {{ form.quality_rate }}
                                    {{ form.quality_rate.errors }}

                                </p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="main-right">
                <form class="main-right-searchb" method="post" action="{% url 'gamehub:index' %}">
                    {% csrf_token %}
                    <input type="text" size="50" name="query" id="query" placeholder="Search for the game..">
                    <button class="main-right-searchs" type="submit" name="submit">Search</button>
                </form>
                <br><br><br><br><br>
                <div>
                    <p class="main-left-itemd">Any thing else to say?</p>
                </div>


                <div class="comment-txt">
                    <div>

                        {{ form.content }}
                        {{ form.content.errors }}
                    </div>
                </div>
                <div class="submit-area">
                    <input class="main-left-itemb" type="submit" name="submit" value="Add thoughts" />
                </div>
            </div>
        </form>
    </div>
    <div class="foot">
        <div>CONTACT US</div>
        <img src="/static/images/icon-fb.png">
        <img src="/static/images/icon-tw.png">
        <img src="/static/images/icon-ins.png">
    </div>






</body>

</html>